/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

html,
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #fff;
}

body a,
.btn-agile {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

p {
    line-height: 1.8;
    font-size: 1em;
    color: #333;
    font-weight: 500;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

/* banner */

/* header */

a.navbar-brand {
    font-size: 2.5em;
    font-weight: 800;
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #6887ff;
    background: #fff;
    border-radius: 5px;
}

/*-- //header --*/

/* banner */

.banner {
    background: url(../images/banner.jpg)no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.banner:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #6887ff, #02b875);
    background: -webkit-linear-gradient(to right, #6887ff, #02b875);
    background: -moz-linear-gradient(to right, #6887ff, #02b875);
    background: -o-linear-gradient(to right, #6887ff, #02b875);
    opacity: 0.5;
    z-index: -1;
}

.banner-text {
    padding: 9vw 0 6vw 20vw;
}

.slider-info h1 {
    color: #fff;
    font-size: 6vw;
    font-weight: bold;
}

.slider-info p {
    font-size: 1.2em;
    margin-top: 1em;
}

.btn-agile {
    color: #fff;
    background: linear-gradient(to right, #6887ff, #02b875);
    background: -webkit-linear-gradient(to right, #6887ff, #02b875);
    background: -moz-linear-gradient(to right, #6887ff, #02b875);
    background: -o-linear-gradient(to right, #6887ff, #02b875);
    border: none;
    border-radius: 0;
    font-size: 1.1em;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-agile:hover {
    color: #fff;
    background: #000;
}

ul.social-iconsv2 li {
    display: inline-block;
    border-radius: 50%;
}

ul.social-iconsv2 li a {
    text-decoration: none;
    font-size: 16px;
}

ul.social-iconsv2 li a i.fab {
    font-size: 18px;
    line-height: 38px;
    width: 30px;
    height: 37px;
    color: #000;
    margin-right: 15px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

ul.social-iconsv2 li:first-child a {
    color: #3b5998;
}

ul.social-iconsv2 li:last-child {
    color: #287bbc;
}

/* //banner */

/* about bottom */

.abbot-main {
    background: #6887ff;
}

h3.stat-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000000;
}

.abbot-right .card {
    background: transparent;
    border: none;
}

.abbot-right.px-5 p {
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.2px;
}

/* //about bottom */

/*-- services --*/

#service {
    background: #fff;
}

/*
#services {
    background: url(../images/about.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#services:before {
    background: rgba(99, 180, 55, 0.78);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
  */

.agileits-services-grids h4 {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.5em;
    font-weight: 600;
    margin: 1.5em 0 0;
}

.agileits-services-grids h6 {
    padding: 1px;
    background: #2954a2;
    width: 33%;
    margin: 2em auto 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.agileits-services-grids:hover h6 {
    width: 55%;
    background: #2954a2;
}

/*-- Effect 1--*/

.agileits-services-grids span,
.img-agile i {
    font-size: 3em;
    color: #000000;
    width: 100px;
    height: 100px;
    background: #ffffff;
    line-height: 100px;
    text-align: center;
    box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.37);
    border-radius: 50%;
}

.agileits-services-grids h4 span {
    width: 40px;
    height: 2px;
    background: #000;
    display: inline-block;
    margin-left: 5px;
}

.agileits-services-grids p {
    padding: 2em 5em;
}

.services-top {
    padding: 3em 5em;
    background: #02b875;
}

.services-head {
    margin-top: 7em;
}

/*-- //services --*/

.agileits-abt-grids span {
    width: 70px;
    height: 70px;
    background: #5aae32;
    color: #fff;
    font-size: 2em;
    line-height: 60px;
    text-align: center;
    margin-right: 1em;
    border: 5px solid #a7df62;
    border-radius: 50%;
}

h3.w3ls-title {
    font-size: 3.2em;
    color: #482d2e;
    font-family: 'Ubuntu', sans-serif;
}

h4.w3ls-title {
    font-size: 2em;
    color: #000;
    font-style: italic;
}

a.abt-agile {
    color: #482d2e;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0;
    border-bottom: 1px solid #e6caa2;
}

.agileits-abt-grids h4 {
    font-weight: 600;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.section-3 {
    background: #6887ff;
    padding: 3em 0;
}

.agileits-abt-grids h4 {
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}

p.about-text-wthree {
    color: #fff;
    width: 263px;
    font-weight: 500;
}

/* //about */

.img-section4 {
    position: absolute;
    left: 300px;
    top: 206px;
    z-index: 1;
}

.section-4 {
    background: #6887ff;
    padding: 3em 0em 3em 10em;
}

p.sec-4 {
    color: #fff;
    font-weight: 500;
}

/* slide */

.slide-wthree {
    background: #02b875;
    position: relative;
    min-height: 300px;
    margin: 6em 0 10em;
    padding: 8em 0 0;
}

.slide-img {
    position: absolute;
    left: 18%;
    top: -132px;
    z-index: 1;
    width: 36%;
}

/* //slide */

.sec-5-right {
    background: #02b875;
}

.sec-5-right .card {
    border: none;
    background: transparent;
}

h5.blog-title {
    margin: 1em 0 0.5em;
    color: #02b875;
    font-size: 1.3em;
}

h2.stat-title.text-white {
    margin: 1em 0;
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 800;
}

.contact-top {
    background: url(../images/slide.jpg)no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.content-contact-top {
    padding: 8em;
}

.contact-top:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(104, 135, 255, 0.79);
    z-index: -1;
}

/*--contact--*/

.w3-contact {
    background: #fff;
}

.contact-bottom h5,
.wthree-form-left h5 {
    color: #000;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.contact-right-w3ls span {
    background: #02b875;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    border-radius: 50%;
}

.fv3-contact h6 {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
}

.address h5 {
    color: #000;
    text-transform: capitalize;
    font-size: 1.1em;
}

.address p a,
p.c-txt {
    color: #777;
}

.address p a:hover {
    color: #000;
}

form.contact-wthree label {
    width: 30%;
    line-height: 2.5;
    color: #000;
    font-weight: 600;
}

form.contact-wthree .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 4px solid #eee;
}

.contact-top1 h5 {
    font-size: 2em;
}

.address h5 {
    font-size: 1.5em;
}

/*--//contact--*/

.cpy-right {
    padding: 1em;
    background: #6887ff;
}

.cpy-right p {
    color: #fff;
}

.cpy-right p a {
    color: #fff;
}

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* -- Responsive code -- */

@media screen and (max-width: 1920px) {
    .img-section4 {
        top: 84px;
        z-index: 1;
        left: 350px;
    }
}

@media screen and (max-width: 1680px) {
    .img-section4 {
        top: 176px;
    }
}

@media screen and (max-width: 1600px) {
    .img-section4 {
        top: 206px;
        left: 300px;
    }
}

@media screen and (max-width: 1440px) {
    .img-section4 {
        top: 380px;
    }
    .slide-img {
        top: -96px;
    }
}

@media screen and (max-width: 1366px) {
    .img-section4 {
        top: 408px;
        left: 243px;
    }
    .agileits-services-grids p {
        padding: 2em 4em;
    }
    .services-top {
        padding: 3em 4em;
    }
    .slide-img {
        width: 40%;
    }
}

@media screen and (max-width: 1280px) {
    .img-section4 {
        top: 441px;
    }
    .services-top {
        padding: 3em;
    }
    .agileits-services-grids p {
        padding: 2em 3em;
    }
    .btn-agile {
        padding: 10px 35px;
    }
    .slide-wthree {
        margin: 4em 0 5em;
    }
}

@media screen and (max-width: 1080px) {
    h3.stat-title {
        font-size: 2.7em;
    }
    .img-section4 {
        top: 624px;
        left: 189px;
    }
    .section-4 {
        padding: 3em 0em 3em 5em;
    }
    .wthree-title.services-head h3 {
        font-size: 2.5em;
    }
    ul.social-iconsv2 li a i.fab {
        margin-right: 8px;
    }
    .slide-img {
        width: 48%;
    }
}

@media screen and (max-width: 1050px) {
    .img-section4 {
        top: 698px;
    }
    .img-section4 {
        top: 686px;
    }
    h3.stat-title {
        font-size: 2.65em;
    }
    .img-section4 {
        top: 634px;
    }
}

@media screen and (max-width: 1024px) {
    .img-section4 {
        top: 642px;
        left: 195px;
    }
    h3.stat-title {
        font-size: 2.5em;
    }
    .content-contact-top {
        padding: 6em;
    }
}

@media screen and (max-width: 991px) {
    .img-section4 {
        position: inherit;
        top: 0;
        left: 34%;
        width: 32%;
    }
    .section-4 {
        padding: 1em;
    }
    .section-3 {
        padding: 3em 1em;
    }
    .services-head {
        margin-top: 0em;
        margin-bottom: 3em;
    }
    .agileits-services-grids span,
    .img-agile i {
        font-size: 2.5em;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
    .services-top {
        padding: 2em;
    }
    .agileits-services-grids p {
        padding: 2em;
    }
    .banner-text {
        padding: 9vw 0 6vw 8vw;
    }
    .navbar-nav .dropdown-menu {
        text-align: center;
    }
    .slide-img {
        width: 47%;
        top: -75px;
        left: 15%;
    }
    .slide-img {
        width: 44%;
        top: 0;
        left: 0;
        position: inherit;
    }
    .slide-wthree {
        margin: 6em 0 10em;
        padding: 3em 0;
    }
    .slide-wthree {
        margin: 0em 0 0em;
        padding: 1em 0;
    }
    .slide-img {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .content-contact-top {
        padding: 5em;
    }
}

@media screen and (max-width: 800px) {
    .content-contact-top {
        padding: 3em;
    }
}

@media screen and (max-width: 736px) {
    .wthree-title.services-head h3 {
        font-size: 2.1em;
    }
}

@media screen and (max-width: 667px) {
    .content-contact-top {
        padding: 2em;
    }
    h2.stat-title.text-white {
        font-size: 1.6em;
    }
    h3.stat-title {
        font-size: 2.1em;
    }
    .contact-bottom h5,
    .wthree-form-left h5 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 568px) {
    .img-section4 {
        left: 30%;
        width: 40%;
    }
    .section-4 {
        padding: 0 1em;
    }
    .slider-info p {
        font-size: 1em;
    }
    .contact-bottom h5,
    .wthree-form-left h5 {
        font-size: 1.2em;
    }
    .agileits-services-grids span,
    .img-agile i {
        width: 65px;
        height: 65px;
        line-height: 66px;
    }
    .wthree-title.services-head h3 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 480px) {
    .agileits-abt-grids h4 {
        font-size: 1.3em;
    }
    h3.stat-title {
        font-size: 2em;
    }
    .services-top,
    .agileits-services-grids p {
        padding: 1em;
    }
    .btn-agile {
        padding: 5px 23px;
        font-size: 1em;
        letter-spacing: 0px;
    }
    h3.stat-title {
        font-size: 1.85em;
    }
    .contact-right-w3ls span {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    h3.stat-title {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 414px) {
    .content-contact-top {
        padding: 1em 0.2em;
    }
    h2.stat-title.text-white {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 384px) {
    .img-section4 {
        left: 25%;
        width: 50%;
    }
    a.navbar-brand {
        font-size: 2.2em;
    }
    .fv3-contact p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 375px) {
    .contact-right-w3ls span {
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 1em;
    }
}

@media screen and (max-width: 320px) {
    h3.stat-title {
        font-size: 1.85em;
    }
    .wthree-title.services-head h3 {
        font-size: 2.05em;
    }
    a.navbar-brand {
        font-size: 2em;
    }
    .wthree-title.services-head h3 {
        font-size: 1.7em;
    }
}

/* -- //Responsive code -- */

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem}




/*//*/


body {
    margin-top: 60px;
    font-size: 14px;
    font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
    background-color: #E5E9ED;
}
.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
/* entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */


.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}
.card-container, .front, .back {
    width: 100%;
    height: 420px;
    border-radius: 4px;
}
.card .cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.card .cover img{
    width: 100%;
}
.card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}
.card .footer .social-links{
    font-size: 18px;
}
.card .footer .social-links a{
    margin: 0 7px;
}
.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
    width: 100%;
    margin-top: 50px;
}
.card .stats{
    display: block;
    float: left;
    width: 33.333333%;
    text-align: center;
}

.card .stats:first-child{
    border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
    border-left: 1px solid #EEEEEE;
}
.card .stats h4{
    font-weight: 300;
    margin-bottom: 5px;
}
.card .stats p{
    color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.space-30{
    height: 30px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.white-board{
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart{
    color: #F74933;
}

pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
    color: #3472F7;
}
.atn{
    color: #2C93FF;
}
.pln{
    color: #333;
}
.com{
    color: #999;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}

.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}









/*adfsafsafsafsafsafafaf*/
@font-face {
    font-family: 'Pe-icon-7-stroke';
    src:url('../fonts/Pe-icon-7-stroke.eot?-2irksn');
    src:url('../fonts/Pe-icon-7-stroke.eot?#iefix-2irksn') format('embedded-opentype'),
    url('../fonts/Pe-icon-7-stroke.woff?-2irksn') format('woff'),
    url('../fonts/Pe-icon-7-stroke.ttf?-2irksn') format('truetype'),
    url('../fonts/Pe-icon-7-stroke.svg?-2irksn#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pe-7s-cloud-upload:before {
    content: "\e68a";
}
.pe-7s-cash:before {
    content: "\e68c";
}
.pe-7s-close:before {
    content: "\e680";
}
.pe-7s-bluetooth:before {
    content: "\e68d";
}
.pe-7s-cloud-download:before {
    content: "\e68b";
}
.pe-7s-way:before {
    content: "\e68e";
}
.pe-7s-close-circle:before {
    content: "\e681";
}
.pe-7s-id:before {
    content: "\e68f";
}
.pe-7s-angle-up:before {
    content: "\e682";
}
.pe-7s-wristwatch:before {
    content: "\e690";
}
.pe-7s-angle-up-circle:before {
    content: "\e683";
}
.pe-7s-world:before {
    content: "\e691";
}
.pe-7s-angle-right:before {
    content: "\e684";
}
.pe-7s-volume:before {
    content: "\e692";
}
.pe-7s-angle-right-circle:before {
    content: "\e685";
}
.pe-7s-users:before {
    content: "\e693";
}
.pe-7s-angle-left:before {
    content: "\e686";
}
.pe-7s-user-female:before {
    content: "\e694";
}
.pe-7s-angle-left-circle:before {
    content: "\e687";
}
.pe-7s-up-arrow:before {
    content: "\e695";
}
.pe-7s-angle-down:before {
    content: "\e688";
}
.pe-7s-switch:before {
    content: "\e696";
}
.pe-7s-angle-down-circle:before {
    content: "\e689";
}
.pe-7s-scissors:before {
    content: "\e697";
}
.pe-7s-wallet:before {
    content: "\e600";
}
.pe-7s-safe:before {
    content: "\e698";
}
.pe-7s-volume2:before {
    content: "\e601";
}
.pe-7s-volume1:before {
    content: "\e602";
}
.pe-7s-voicemail:before {
    content: "\e603";
}
.pe-7s-video:before {
    content: "\e604";
}
.pe-7s-user:before {
    content: "\e605";
}
.pe-7s-upload:before {
    content: "\e606";
}
.pe-7s-unlock:before {
    content: "\e607";
}
.pe-7s-umbrella:before {
    content: "\e608";
}
.pe-7s-trash:before {
    content: "\e609";
}
.pe-7s-tools:before {
    content: "\e60a";
}
.pe-7s-timer:before {
    content: "\e60b";
}
.pe-7s-ticket:before {
    content: "\e60c";
}
.pe-7s-target:before {
    content: "\e60d";
}
.pe-7s-sun:before {
    content: "\e60e";
}
.pe-7s-study:before {
    content: "\e60f";
}
.pe-7s-stopwatch:before {
    content: "\e610";
}
.pe-7s-star:before {
    content: "\e611";
}
.pe-7s-speaker:before {
    content: "\e612";
}
.pe-7s-signal:before {
    content: "\e613";
}
.pe-7s-shuffle:before {
    content: "\e614";
}
.pe-7s-shopbag:before {
    content: "\e615";
}
.pe-7s-share:before {
    content: "\e616";
}
.pe-7s-server:before {
    content: "\e617";
}
.pe-7s-search:before {
    content: "\e618";
}
.pe-7s-film:before {
    content: "\e6a5";
}
.pe-7s-science:before {
    content: "\e619";
}
.pe-7s-disk:before {
    content: "\e6a6";
}
.pe-7s-ribbon:before {
    content: "\e61a";
}
.pe-7s-repeat:before {
    content: "\e61b";
}
.pe-7s-refresh:before {
    content: "\e61c";
}
.pe-7s-add-user:before {
    content: "\e6a9";
}
.pe-7s-refresh-cloud:before {
    content: "\e61d";
}
.pe-7s-paperclip:before {
    content: "\e69c";
}
.pe-7s-radio:before {
    content: "\e61e";
}
.pe-7s-note2:before {
    content: "\e69d";
}
.pe-7s-print:before {
    content: "\e61f";
}
.pe-7s-network:before {
    content: "\e69e";
}
.pe-7s-prev:before {
    content: "\e620";
}
.pe-7s-mute:before {
    content: "\e69f";
}
.pe-7s-power:before {
    content: "\e621";
}
.pe-7s-medal:before {
    content: "\e6a0";
}
.pe-7s-portfolio:before {
    content: "\e622";
}
.pe-7s-like2:before {
    content: "\e6a1";
}
.pe-7s-plus:before {
    content: "\e623";
}
.pe-7s-left-arrow:before {
    content: "\e6a2";
}
.pe-7s-play:before {
    content: "\e624";
}
.pe-7s-key:before {
    content: "\e6a3";
}
.pe-7s-plane:before {
    content: "\e625";
}
.pe-7s-joy:before {
    content: "\e6a4";
}
.pe-7s-photo-gallery:before {
    content: "\e626";
}
.pe-7s-pin:before {
    content: "\e69b";
}
.pe-7s-phone:before {
    content: "\e627";
}
.pe-7s-plug:before {
    content: "\e69a";
}
.pe-7s-pen:before {
    content: "\e628";
}
.pe-7s-right-arrow:before {
    content: "\e699";
}
.pe-7s-paper-plane:before {
    content: "\e629";
}
.pe-7s-delete-user:before {
    content: "\e6a7";
}
.pe-7s-paint:before {
    content: "\e62a";
}
.pe-7s-bottom-arrow:before {
    content: "\e6a8";
}
.pe-7s-notebook:before {
    content: "\e62b";
}
.pe-7s-note:before {
    content: "\e62c";
}
.pe-7s-next:before {
    content: "\e62d";
}
.pe-7s-news-paper:before {
    content: "\e62e";
}
.pe-7s-musiclist:before {
    content: "\e62f";
}
.pe-7s-music:before {
    content: "\e630";
}
.pe-7s-mouse:before {
    content: "\e631";
}
.pe-7s-more:before {
    content: "\e632";
}
.pe-7s-moon:before {
    content: "\e633";
}
.pe-7s-monitor:before {
    content: "\e634";
}
.pe-7s-micro:before {
    content: "\e635";
}
.pe-7s-menu:before {
    content: "\e636";
}
.pe-7s-map:before {
    content: "\e637";
}
.pe-7s-map-marker:before {
    content: "\e638";
}
.pe-7s-mail:before {
    content: "\e639";
}
.pe-7s-mail-open:before {
    content: "\e63a";
}
.pe-7s-mail-open-file:before {
    content: "\e63b";
}
.pe-7s-magnet:before {
    content: "\e63c";
}
.pe-7s-loop:before {
    content: "\e63d";
}
.pe-7s-look:before {
    content: "\e63e";
}
.pe-7s-lock:before {
    content: "\e63f";
}
.pe-7s-lintern:before {
    content: "\e640";
}
.pe-7s-link:before {
    content: "\e641";
}
.pe-7s-like:before {
    content: "\e642";
}
.pe-7s-light:before {
    content: "\e643";
}
.pe-7s-less:before {
    content: "\e644";
}
.pe-7s-keypad:before {
    content: "\e645";
}
.pe-7s-junk:before {
    content: "\e646";
}
.pe-7s-info:before {
    content: "\e647";
}
.pe-7s-home:before {
    content: "\e648";
}
.pe-7s-help2:before {
    content: "\e649";
}
.pe-7s-help1:before {
    content: "\e64a";
}
.pe-7s-graph3:before {
    content: "\e64b";
}
.pe-7s-graph2:before {
    content: "\e64c";
}
.pe-7s-graph1:before {
    content: "\e64d";
}
.pe-7s-graph:before {
    content: "\e64e";
}
.pe-7s-global:before {
    content: "\e64f";
}
.pe-7s-gleam:before {
    content: "\e650";
}
.pe-7s-glasses:before {
    content: "\e651";
}
.pe-7s-gift:before {
    content: "\e652";
}
.pe-7s-folder:before {
    content: "\e653";
}
.pe-7s-flag:before {
    content: "\e654";
}
.pe-7s-filter:before {
    content: "\e655";
}
.pe-7s-file:before {
    content: "\e656";
}
.pe-7s-expand1:before {
    content: "\e657";
}
.pe-7s-exapnd2:before {
    content: "\e658";
}
.pe-7s-edit:before {
    content: "\e659";
}
.pe-7s-drop:before {
    content: "\e65a";
}
.pe-7s-drawer:before {
    content: "\e65b";
}
.pe-7s-download:before {
    content: "\e65c";
}
.pe-7s-display2:before {
    content: "\e65d";
}
.pe-7s-display1:before {
    content: "\e65e";
}
.pe-7s-diskette:before {
    content: "\e65f";
}
.pe-7s-date:before {
    content: "\e660";
}
.pe-7s-cup:before {
    content: "\e661";
}
.pe-7s-culture:before {
    content: "\e662";
}
.pe-7s-crop:before {
    content: "\e663";
}
.pe-7s-credit:before {
    content: "\e664";
}
.pe-7s-copy-file:before {
    content: "\e665";
}
.pe-7s-config:before {
    content: "\e666";
}
.pe-7s-compass:before {
    content: "\e667";
}
.pe-7s-comment:before {
    content: "\e668";
}
.pe-7s-coffee:before {
    content: "\e669";
}
.pe-7s-cloud:before {
    content: "\e66a";
}
.pe-7s-clock:before {
    content: "\e66b";
}
.pe-7s-check:before {
    content: "\e66c";
}
.pe-7s-chat:before {
    content: "\e66d";
}
.pe-7s-cart:before {
    content: "\e66e";
}
.pe-7s-camera:before {
    content: "\e66f";
}
.pe-7s-call:before {
    content: "\e670";
}
.pe-7s-calculator:before {
    content: "\e671";
}
.pe-7s-browser:before {
    content: "\e672";
}
.pe-7s-box2:before {
    content: "\e673";
}
.pe-7s-box1:before {
    content: "\e674";
}
.pe-7s-bookmarks:before {
    content: "\e675";
}
.pe-7s-bicycle:before {
    content: "\e676";
}
.pe-7s-bell:before {
    content: "\e677";
}
.pe-7s-battery:before {
    content: "\e678";
}
.pe-7s-ball:before {
    content: "\e679";
}
.pe-7s-back:before {
    content: "\e67a";
}
.pe-7s-attention:before {
    content: "\e67b";
}
.pe-7s-anchor:before {
    content: "\e67c";
}
.pe-7s-albums:before {
    content: "\e67d";
}
.pe-7s-alarm:before {
    content: "\e67e";
}
.pe-7s-airplay:before {
    content: "\e67f";
}

